* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  color: #5a5a5a;
  padding-top: 35px;
}

.section {
  padding: 3rem 0;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
  max-width: 750px;
}

.title h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.title h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.title p {
  color: #5a5a5a;
  line-height: 22.5px;
  margin-left: auto;
  margin-right: auto;
}

.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
  transition: all 0.5s;
}

.btn-primary {
  color: white;
  background-color: #dc4f72;
  border-color: #dc4f72;
  transition: all 0.5s;
}

.theme_button {
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 30px;
  text-transform: uppercase;
}

/* header  */
header {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header .navMaster .navbar-brand {
  font-size: 26px;
  font-weight: 700;
  color: #dc4f72;
}

.navMaster .navbar-toggler {
  background-color: #dc4f72;
}

.navMaster .navbar-toggler i {
  line-height: 2rem;
  font-size: 25px;
  color: white;
}

#navbarMaster .nav-item .nav-link.active {
  color: #dc4f72;
}

#navbarMaster .nav-item {
  margin: 0 5px;
}

#navbarMaster .nav-item .nav-link {
  color: black;
  text-align: center;
}

#navbarMaster .nav-item .arrow {
  font-size: 14px;
}

#navbarMaster .nav-item .nav-link::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  transition: all 0.5s;
}

#navbarMaster .nav-item .nav-link:hover::after {
  width: 20px;
}

#navbarMaster .dropdown-item {
  transition: all 0.5s;
  padding-bottom: 14px;
  padding-top: 0;
}

#navbarMaster .dropdown-item:focus,
.dropdown-item:hover {
  color: #dc4f72;
}

#navbarMaster .dropdown-item::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  transition: all 0.5s;
}

#navbarMaster .dropdown-item:hover::after {
  width: 20px;
}

#navbarMaster .dropdown-menu {
  transform: translateX(-50px);
  padding: 1rem 0 0.3rem;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  min-width: 11rem;
  border: 1px solid #eee;
}

#navbarMaster .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid #eee;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

#navbarMaster .quote a {
  color: #dc4f72;
  border-color: #dc4f72;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 30px;
  text-transform: uppercase;
  transition: all 0.5s;
}

#navbarMaster .quote:hover a {
  background-color: #dc4f72;
  color: white;
}

#navbarMaster .searchIcon i {
  color: #5a5a5a;
  font-size: 15px;
  opacity: 0.7;
  width: 40px;
  height: 40px;
  line-height: 38px;
  background-color: #f7f9fc;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
  margin-right: 15px;
}

#navbarMaster .searchIcon:hover {
  color: black;
}

#navbarMaster .darklight {
  font-size: 25px;
  margin-left: 15px;
}

@media screen and (max-width: 992px) {
  .quote {
    margin-top: 15px;
  }
}

/* breadcrumbs  */
#breadcrumbs {
  padding: 15px 20px;
  background-color: #f7f9fc;
}

#breadcrumbs .page-wrapper {
  font-size: 14px;
}

#breadcrumbs .page-wrapper a {
  color: #dc4f72;
  margin-right: 5px;
  text-decoration: none;
}

/* services */
.services .services_title h2 {
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
  text-transform: capitalize;
  color: #2c3038;
}

.services .services_content .services_best h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #2c3038;
  line-height: 1;
}

.services .services_content .services_best h5 {
  font-size: 24px;
  line-height: 30px;
  color: #999;
}

.services .services_content .services_best a:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}

.services .services_content .services_item .icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #f7f9fc;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 15px;
  display: block;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.services .services_content .services_item h4 a {
  font-size: 20px;
  font-weight: 700;
  color: #2c3038;
  line-height: 24.5px;
  text-decoration: none;
  transition: all 0.3s;
}

.services .services_content .services_item h4 a:hover {
  color: #dc4f72;
}

.services .services_content .services_item p {
  line-height: 20.5px;
  margin-top: 5px;
}

/* product */
.product {
  background-color: #f7f9fc;
}

.product .product_content .product_item .product_icon span {
  font-size: 20px;
  color: #dc4f72;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.product .product_content .product_item .product_info h6 a {
  font-size: 18px;
  color: #2c3038;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.3s;
  text-decoration: none;
}

.product .product_content .product_item .product_info h6 {
  margin-bottom: 0;
}

.product .product_content .product_item .product_info h6 a:hover {
  color: #dc4f72;
}

.product .product_content .product_item .product_info p {
  line-height: 20.4px;
}

.product .product_content .product_img img {
  border-radius: 50%;
  border: 5px solid #f8f9fa;
  transition: all 0.3s;
}

.product .product_content .product_img img:hover {
  transform: translateY(-0.5rem);
}

@media screen and (max-width: 992px) {
  .product .product_content .product_img {
    width: 300px;
    margin: 20px auto 40px;
  }
}

/* feature  */
.feature .feature_content .feature_left {
  padding: 2rem;
}

.feature .feature_content .feature_left h3 {
  color: #2c3038;
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature .feature_content .feature_left p {
  line-height: 24.5px;
  margin-bottom: 16px;
}

.feature .feature_content .feature_left ul li {
  list-style: none;
  margin: 15px 0;
  font-weight: 600;
  line-height: 26px;
  color: #2c3038;
}

.feature .feature_content .feature_left li span i {
  color: #dc4f72;
  margin-right: 10px;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  background: rgba(220, 79, 114, 0.1);
}

.feature .feature_content .feature_left .theme_button:hover {
  background-color: #cf2952;
  border-color: #d62f58;
}

.feature .feature_content .feature_left img {
  transition: all 0.3s;
}

.feature .feature_content .feature_left img:hover {
  transform: translateY(-0.5rem);
}

.feature .feature_content .feature_right {
  padding: 2rem;
}

.feature .feature_content .feature_right img {
  transition: all 0.3s;
}

.feature .feature_content .feature_right img:hover {
  transform: translateY(-0.5rem);
}

.feature .feature_content .feature_right h3 {
  color: #2c3038;
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature .feature_content .feature_right p {
  line-height: 24.5px;
}

.feature .feature_content .feature_right .theme_button:hover {
  background-color: #cf2952;
  border-color: #d62f58;
}

/* footer  */
footer {
  background-color: #f7f9fc;
}

footer .footer_top h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  font-weight: 700;
  margin-bottom: -10px;
}

footer .footer_top .footer_list ul {
  display: inline;
  text-align: left;
}

footer .footer_top .footer_list ul li {
  list-style: none;
  margin: 10px 0;
}

footer .footer_top .footer_list a {
  text-decoration: none;
  text-transform: capitalize;
  color: #656f7b;
  transition: all 0.5s;
}

footer .footer_top .footer_list a:hover {
  color: #dc4f72;
}

.footer_top .footer_form .signUp {
  background-color: white;
  padding: 2em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 6px;
}

.footer_top .footer_form h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
}

.footer_top .footer_form .signUp input {
  background-color: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 75%;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 15px;
}

.footer_top .footer_form .signUp button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: white;
  border-radius: 6px;
  margin-bottom: 15px;
}

.footer_form {
  margin-left: 20px;
}

.footer_bottom a {
  color: #2c3038;
  text-decoration: none;
  transition: all 0.5s;
}

.footer_bottom a:hover {
  color: #dc4f72;
}

.footer_bottom .icon a {
  color: #2c3038;
  margin: 0 15px;
  font-size: 15px;
  line-height: 36px;
  transition: all 0.5s;
}

.footer_bottom .icon a:hover {
  color: #dc4f72;
}

@media screen and (max-width: 992px) {
  .footer_bottom {
    display: block !important;
  }
}

/* backToTop  */
.backToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 45px;
  background-color: #dc4f72;
  text-align: center;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}

.backToTop:hover {
  opacity: 1;
}

.backToTop i {
  color: white;
  line-height: 45px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 0.6;
}

/* modal header */
#modalHeader .modal-content input {
  width: 100%;
  height: 55px;
  line-height: 25px;
  color: #5a5a5a;
  padding: 15px 20px 12px;
  background-color: white;
  outline: none;
  border: 1px solid #eee;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-right: none;
}

#modalHeader .modal-content button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background-color: #dc4f72;
  padding: 0 25px;
  border-left: none;
  border-radius: initial;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
