* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  padding-top: 70px;
}

.section {
  padding: 3rem 0;
}

/* header  */
header {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header .navMaster .navbar-brand {
  font-size: 26px;
  font-weight: 700;
  color: #dc4f72;
}

.navMaster .navbar-toggler {
  background-color: #dc4f72;
}

.navMaster .navbar-toggler i {
  line-height: 2rem;
  font-size: 25px;
  color: white;
}

#navbarMaster .nav-item .nav-link.active {
  color: #dc4f72;
}

#navbarMaster .dropdown-item.active,
.dropdown-item:active {
  color: #dc4f72;
}

#navbarMaster .nav-item {
  margin: 0 5px;
}

#navbarMaster .nav-item .nav-link {
  color: black;
  text-align: center;
}

#navbarMaster .nav-item .arrow {
  font-size: 14px;
}

#navbarMaster .nav-item .nav-link::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  transition: all 0.5s;
}

#navbarMaster .nav-item .nav-link:hover::after {
  width: 20px;
}

#navbarMaster .dropdown-item {
  transition: all 0.5s;
  padding-bottom: 14px;
  padding-top: 0;
  background-color: white;
}

#navbarMaster .dropdown-item:focus,
.dropdown-item:hover {
  color: #dc4f72;
}

#navbarMaster .dropdown-item::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  transition: all 0.5s;
}

#navbarMaster .dropdown-item:hover::after {
  width: 20px;
}

#navbarMaster .dropdown-menu {
  transform: translateX(-50px);
  padding: 1rem 0 0.3rem;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  min-width: 11rem;
  border: 1px solid #eee;
}

#navbarMaster .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid #eee;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

#navbarMaster .quote a {
  color: #dc4f72;
  border-color: #dc4f72;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 30px;
  text-transform: uppercase;
  transition: all 0.5s;
}

#navbarMaster .quote:hover a {
  background-color: #dc4f72;
  color: white;
}

#navbarMaster .searchIcon i {
  color: #5a5a5a;
  font-size: 15px;
  opacity: 0.7;
  width: 40px;
  height: 40px;
  line-height: 38px;
  background-color: #f7f9fc;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
  margin-right: 15px;
}

#navbarMaster .searchIcon:hover {
  color: black;
}

#navbarMaster .darklight {
  font-size: 25px;
  margin-left: 15px;
}

@media screen and (max-width: 992px) {
  .quote {
    margin-top: 15px;
  }
}

/* banner */
.banner {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.92)),
    url(./../img/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 5rem;
}

.banner .container {
  padding-top: 5rem;
}

.banner .banner_title h1 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
}

.banner .banner_title p {
  color: #2c3038;
  font-size: 20px;
  line-height: 28px;
  max-width: 450px;
}

.banner .banner_left a:hover {
  color: white;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
/* main  */
.page {
  max-width: 600px;
  margin: auto;
}
.page h1 {
  font-weight: 600;
  font-size: 100px;
  color: #dc4f72;
}
.page h2 {
  font-weight: 700;
  color: #2c3038;
  font-size: 30px;
  margin-bottom: 10px;
}
.page p {
  margin-top: 1.5rem;
}
.page form {
  max-width: 450px;
  margin: auto;
  position: relative;
}
.page input {
  width: 100%;
  color: #2c3038;
  background-color: #f7f9fc;
  padding: 16px 110px 12px 20px;
  font-size: 16px;
  line-height: 28px;
  height: 58px;
  border: none;
  border-radius: 4px;
  display: block;
  font-weight: 500;
}
.search-box button {
  color: #fff;
  background-color: #dc4f72f1;
  font-size: 16px;
  width: 100px;
  font-weight: 500;
  border: none;
  top: 0;
  right: 0;
  height: 58px;
  position: absolute;
}
.search-box button:hover {
  background-color: #dc4f72 !important;
  color: white !important;
}
.page a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  display: block;
}
.page a:hover {
  color: #dc4f72;
}
/* footer  */
footer {
  background-color: #f7f9fc;
}

footer .footer_top h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  font-weight: 700;
  margin-bottom: -10px;
}

footer .footer_top .footer_list ul {
  display: inline;
  text-align: left;
}

footer .footer_top .footer_list ul li {
  list-style: none;
  margin: 10px 0;
}

footer .footer_top .footer_list a {
  text-decoration: none;
  text-transform: capitalize;
  color: #656f7b;
  transition: all 0.5s;
}

footer .footer_top .footer_list a:hover {
  color: #dc4f72;
}

.footer_top .footer_form .signUp {
  background-color: white;
  padding: 2em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 6px;
}

.footer_top .footer_form h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
}

.footer_top .footer_form .signUp input {
  background-color: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 75%;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 15px;
}

.footer_top .footer_form .signUp button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: white;
  border-radius: 6px;
  margin-bottom: 15px;
}

.footer_bottom a {
  color: #2c3038;
  text-decoration: none;
  transition: all 0.5s;
}

.footer_bottom a:hover {
  color: #dc4f72;
}

.footer_bottom .icon a {
  color: #2c3038;
  margin: 0 15px;
  font-size: 15px;
  line-height: 36px;
  transition: all 0.5s;
}

.footer_bottom .icon a:hover {
  color: #dc4f72;
}

@media screen and (max-width: 992px) {
  .footer_bottom {
    display: block !important;
  }
}

/* backToTop  */
.backToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 45px;
  background-color: #dc4f72;
  text-align: center;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}

.backToTop:hover {
  opacity: 1;
}

.backToTop i {
  color: white;
  line-height: 45px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 0.6;
}

@media screen and (max-width: 992px) {
  .page h1 {
    font-size: 70px;
  }
}
/* modal header */
#modalHeader .modal-content input {
  width: 100%;
  height: 55px;
  line-height: 25px;
  color: #5a5a5a;
  padding: 15px 20px 12px;
  background-color: white;
  outline: none;
  border: 1px solid #eee;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-right: none;
}

#modalHeader .modal-content button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background-color: #dc4f72;
  padding: 0 25px;
  border-left: none;
  border-radius: initial;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
